.home-page {
  font-family: 'poppins';
  .topbar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    box-sizing: border-box;
    padding: 0 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    transition: all 1s linear;
    .bar {
      transition: all 1s ease;
      .bar-content {
        padding: 5px 0;
        z-index: 99;
        display: flex;
        & > span {
          margin: 0 15px;
          &:hover {
            opacity: 0.8;
            cursor: pointer;
          }
        }
        .active {
          display: flex;
          flex-direction: column;
          align-items: center;
          &::after {
            content: '';
            display: inline-block;
            height: 15px;
            width: 1px;
            background-color: black;
            margin: 10px 0;
            opacity: 0.4;
          }
        }
      }
      .bar-draw {
        z-index: -1;
        min-height: 0;
        max-width: 240px;
        display: inline-block;
        transform: translateY(-80%);
        opacity: 0.3;
        transition: all 0.7s ease;

        & > span {
          float: left;
          margin: 5px 15px;
        }
      }
      .active-draw {
        transform: translateY(0);
        opacity: 1;
      }
    }

    // div:nth-child(1) {
    //   cursor: pointer;
    // }
    // div:nth-child(2) {
    //   span {
    //     cursor: pointer;
    //     display: flex;
    //     align-items: center;
    //     margin: 0 10px;
    //     height: 100%;
    //     vertical-align: middle;
    //   }
    // }
  }

  .page-content {
    padding-top: 66px;
    .main {
      margin: 0 auto;
      max-width: 70%;
      .menu-box {
        text-align: center;
        margin-top: 40px;
        .title {
          font-size: 22px;
        }
        .content {
          margin-top: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          .menu-item {
            &:nth-child(n + 2) {
              &::before {
                content: '';
                margin: 0 10px;
                display: inline-block;
                width: 1px;
                height: 10px;
                background-color: black;
              }
            }
          }
        }
      }
      .pic-view {
        margin-top: 50px;
        width: 100%;
        .pic-box {
          margin: 20px 10px;
          cursor: pointer;
        }
      }
    }
  }
}
